*{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
:root{
    --dark-color:#1f232e;
    --light-color:#01c6d5;
}
body{
    background-color:#000;
}

.offcanvas-body{
    background-color: #000;
    padding: 20px 1px;
}
.offcanvas-header{
    background-color: #000;
}
.offcanvas-header .offcanvas-title{
    color: white;
}
.offcanvas-header .btn-close{
    background-color: white;
    width: 5px;
    height: 5px;
}

.navbar .container{
    background-color: black;
    padding-top: 20px;
    margin-top: -15px;
}

.nav-item a,.navbar-brand{
    color: white;
}
.nav-item a:hover{
    color:#01c6d5;
    font-size: 18px;
    border-bottom: 1px solid white;
}
.offcanvas-body .navbar-brand:hover{
    color:#01c6d5 ;
}
.navbar-toggler svg{
    font-size: 25px;
}
.navbar-toggler{
    border-color: white;
}
.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-toggler[aria-expanded="true"]{
    border-color:gray;
}
 
/* Home */

.home .content{
    color: white;
}
.icons svg{
    border: 2px solid #01c6d5;
    border-radius: 50%;
    margin: 10px 14px 10px 0;
    padding: 10px;
    color: #01c6d5;
    opacity: 0;
    animation: slideLeft 0.5s ease forwards;
    animation-delay: calc(0.2s *var(--i));
}

.icons svg:hover{
    box-shadow: 0 0 10px #01c6d5;
    cursor: pointer;
    color: #1f232e;
    background-color: #01c6d5;
}
.home .content p{
    max-width: 500px;
}
.home .content h2:nth-of-type(2){
    margin-bottom: 30px;

}
.home .content h2 span{
    color: #01c6d5;
    font-family:cursive;
}

.home .content button{
    background-color: #01c6d5;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    box-shadow: 0 0 10px #01c6d5;
    opacity: 0;
    animation: slideBottom 0.5s ease forwards;
    animation-delay: 1s;
}
.home .content button:hover{
    box-shadow: 0 0 20px #01c6d5;
}
.home .photo img{
    width: 350px;
    border-radius: 40px;
    box-shadow: 0 0 20px #01c6d5;
    animation: zoomin 1s ease forwards;
    opacity: 0;
    animation-delay: 1s;

}
.home .row{
    padding: auto;
    margin: auto;
} 

/* KeyFrames Animation */
.nav-item a{
    opacity: 0;
    animation: slideTop 0.5s ease forwards;
    animation-delay: calc(0.2s *var(--i)) ;
}
@keyframes slideTop{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom{
    0%{
        transform: translateY(400px);
        opacity: 0;
    }
    100%{
        transform: translateY(0px);
        opacity: 1;
    }
}

.navbar-brand{
    opacity: 0;
    animation: slideRight 1s ease forwards;
}
@keyframes slideRight{
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%{
        transform: translateX(2px);
        opacity: 1;
    }
}
@keyframes slideLeft{
    0%{
        transform: translateX(500px);
        opacity: 0;
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}
/* photo */
@keyframes zoomin{
    0%{
        transform: scale(0);
        opacity: 0;
    }
    100%{
        transform: scale(1);
        opacity: 1;
    }
}

/* skills */

.skills .tech{
    color: white;
    padding: 20px;
    
}
.each-skills{
    box-shadow: 4px 4px 10px #005f66be;
    padding: 20px 0px;
    overflow: hidden;
}
.each-skills li{
    margin: 20px 0px;
    padding: 15px;
    list-style: none;
    width: 75%;
    margin: 10px auto;
}
#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
li p{
    opacity: 0;
    margin-bottom: -6px;
}
li:hover p{
    opacity: 1;
}

.bar{
    background-color: #353b48;
    display: block;
    height: 10px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(48, 175, 189, 0.644);
    transition: all 0.3s cubic-bezier(0.25,0.8,0.25,1);
}
li:hover .bar{
    box-shadow: 5px 5px 10px rgba(1, 230, 255, 0.907);
    cursor: pointer;
}
li:hover h4{
    font-size: 20px;
}
.precentage{
    font-size: 7px;
    display: flex;
    justify-content: flex-end;
    margin-right: 10px;
    color: black;
    font-weight: bold;
}
.bar span{
    height: 10px;
    float: left;
    /* background-color: rgb(81, 255, 232);*/
    background-color: rgb(126, 237, 226);
}
#html{
    width: 90%;
    animation: html 4s ;
    animation-delay: 1s;
}
#css{
    width: 85%;
    animation: css 4s;
    animation-delay: 1s;
    
}
#js{
    width: 75%;
    animation: js 4s;
    animation-delay: 1s;
    
}
#boot{
    width: 70%;
    animation: boot 4s;
    animation-delay: 1s;
    
}

@keyframes html {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}
@keyframes css {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes js {
    0%{
        transform: translateX(-500px);
        
    }
    100%{
        transform: translateX(0);
        
    }
}
@keyframes boot {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}
/* Soft Skills */

#communication{
    width: 80%;
    animation: communication 4s ease-in;
    animation-delay: 2s;
}

@keyframes communication {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}
#Management{
    width: 60%;
    animation: management 4s ease-in;
    animation-delay: 2s;
}
@keyframes management {
    0%{
        
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
        
    }
}
#TM{
    width: 60%;
    animation: TM 4s ease-in;
    animation-delay: 2s;
}
@keyframes TM {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}
#C{
    width: 70%;
    animation: CR 4s ease-in;
    animation-delay: 2s;
}
@keyframes CR {
    0%{
        transform: translateX(-500px);
    }
    100%{
        transform: translateX(0);
    }
}


/* projects */

.projects .row img{
    width: 300px;
    height: 200px;
}
.pj p{
    padding-top: 15px;
    color: white;
    
}

.projects .row img:hover{
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.5s;

    box-shadow: 0 0 20px white;
}

.projects .row a{
    text-decoration: none;
    font-size: 27px;

}
.pro-name{
    position: relative;
    bottom: -24px;
    color: white;
    font-weight: bold;
}
.pro-name:hover{
    color: yellow;
    cursor: pointer;
}

/* contact */

.Contact svg{
    font-size: 60px;
}
.Contact span svg{
    font-size: 40px;
}
.Contact h4 span svg{
    font-size: 20px;
}
#inf{
    font-size: 20px;
}

/* footer */

.footer ul{
    list-style: none;
}
.footer ul .nav-item a:hover{
    color: yellow;
}
.email .icons svg{
    color:yellow;
    border: 2px solid yellow;
}

#email{
    position: relative;
    background-color: white;
    padding: 10px 50px 10px 10px;
    border-radius: 20px;
    left: 20px;
}

.email button{
    border-radius: 20px;
    position: relative;
    left: -50px;
    margin: 10px 0px;
    padding: 10px 1rem;
    border: none;
    outline: none;
    background-color:rgba(1, 94, 1, 0.663) ;
    color:rgba(45, 43, 43, 0.793);
}
.email button:hover{
    background-color: green;
    color:#fff;
}
.btnUp{
    width: 100%;
    height: 100px;
    position: relative;
}
.btn-up button{
    padding: 5px 10px;
    border-radius: 50%;
    background-color: #01c6d5;
    color: #0a0074;
    width: 35px;
    height: 35px;
    position: fixed;
    left: 90%;
    top: 90%;
    z-index: 1000;
    display: none;
}

